<div class="row">
  <div class="col-12">
    <h3 class="text-center">
      {{ title }}
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-3 mt-2">
    <input class="form-control" [(ngModel)]="filterPhrase" type="text">
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let col of cols">{{ col.label }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td *ngFor="let col of cols" scope="row">
        {{ item[col.key] }}
      </td>
      <td>
        <span class="badge badge-primary">
          ${{ item | fib }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
